OPENAI_API_KEY=

MODEL_NAME=gpt-5-nano
OPENAI_EMBEDDING_MODEL=text-embedding-3-small
DATABASE_URL=postgresql+psycopg://postgres:postgres@localhost:5432/rag
PG_VECTOR_COLLECTION_NAME=nome_collection_28032026
PDF_PATH=/mnt/c/users/mrgen/development/ingest_and_search/document.pdf
